<h1>Update <%= @post.title %></h1>

<ul>
	<%= form_for @post do |f| %>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</li>
		<li>
			<%= f.label :body %>
			<%= f.text_area :body, :size => 150 %>
		</li>
		<li><%= f.submit %></li>
	<% end %>
</ul>